input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin: 0;
}

.floating-box {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 20px;
  padding: 25px;

  border-radius: 20px;

  background-color: #ffffff;
}

.buttons {
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.btn {
  padding: 15px;
  border-radius: 20px;
  border: none;

  font-size: 20px;
  font-weight: 700;
  color: white;
}

.btn-start {
  background-color: rgb(28, 156, 92);
}

.btn-start:hover {
  background-color: rgb(25, 139, 82);
  cursor: pointer;
}

.btn-start:disabled {
  background-color: rgba(28, 156, 92, 0.55);
  cursor: default;
}

.btn-stop {
  background-color: rgb(255, 88, 88);
}

.btn-stop:hover {
  background-color: rgb(215, 76, 76);
  cursor: pointer;
}

.btn-reset {
  background-color: rgb(87, 87, 255);
}

.btn-reset:hover {
  background-color: rgb(75, 75, 215);
  cursor: pointer;
}

.clock {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 10px;

  height: 60px;
}

.clock-p {
  font-size: 52px;
  margin: 0px;
  color: rgb(146, 146, 146);
}

.clock-input {
  font-size: 52px;
  display: inline-block;

  width: 60px;
  height: 60px;

  border: none;

  text-align: center;
}

.clock-input:disabled {
  color: black;
  background-color: white;
}
